# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.WolfHunting.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\49179\RiderProjects\KI_Softwareagenten\WolfHunting\.idea\.idea.WolfHunting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
